
/* 閫氱敤 */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

.clickable {
	cursor: pointer;
}

.hide {
    display: none;
}

.clearfix:after {
	content: '';
	clear: both;
	zoom: 1;
}

/* 鐢宠琛ㄥ崟 */

.app-form-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

.app-form {
	width: 400px;
	height: 560px;
	padding: 20px;
	padding-top: 50px;
	font-size: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -280px;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	background-color: #fff;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
}

.app-form p.title {
	/* width: 100%; */
	color: #999999;
	font-size: 16px;
}

.app-form ul {
	list-style: none;
	padding: 0;
	margin-top: 30px;
}

.app-form li {
	height: 48px;
	width: 100%;
}

.app-form li .label {
	float: left;
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-align: right;
	color: #999999;
}

.app-form li .field {
	float: left;
	width: 220px;
	margin-left: 10px;
}

.app-form li input.input-text {
	width: 200px;
	color: #999999;
	border: 1px solid #dadada;
	padding: 10px;
}

.app-form li textarea.input-text {
	border: 1px solid #dadada;
	color: #999999;
	padding: 10px;
	width: 200px;
	height: 150px;
	resize: none;
}

.app-form button {
    background: #4dc1e6;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 222px;
    border: none;
    cursor: pointer;
	margin-top: 10px;
}


/* 椤甸潰鍐呭 */

.container {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.container .download-btn {
	top: 85px;
	right: 70px;
	position: absolute;
    width: 84px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #fff;
    color: #ff9900;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
	text-decoration: none;
}

.container .logo {
	width: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

.container .traffic {
	position: absolute;
	left: calc(50% - 110px);
}

.app-form .traffic {
	margin: auto;
}

.app-form .traffic .info .swipe-tip {
	color: #4dc1e6 !important;
	background-color: transparent;
	border: 2px solid #4dc1e6 !important;
}

.app-form .traffic .info .swipe-tip:before {
	margin-top: -2px;
	margin-left: -40px !important;
    border-top: 14px solid transparent;
    border-right: 20px solid #4dc1e6;
    border-bottom: 14px solid transparent;
}

.app-form .traffic .info .swipe-tip:after {
	content: '';
	margin-left: -79px !important;
    border-top: 12px solid transparent;
    border-right: 18px solid #fff;
    border-bottom: 12px solid transparent;
	position: absolute;
}

.app-form .traffic .info .msg {
	color: #000 !important;
}

.app-form .close-btn {
	top: 10px;
	right: 10px;
	width : 22px;
	height: 22px;
	cursor: pointer;
	background-image: url('http://static.dnparking.com:810/close.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.traffic {
	width: 220px;
	height: 80px;
}

.traffic .qrcode {
	float: left;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.traffic .info {
	float: left;
}

.traffic .info .swipe-tip {
	color: #000;
	width: 80px;
	height: 24px;
	line-height: 24px;
	background-color: #fff;
	text-align: center;
	margin-top: 16px;
	margin-left: 40px;
}

.traffic .info .swipe-tip:before {
	content: '';
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 12px solid transparent;
	margin-left: -36px;
	position: absolute;
}

.traffic .info .msg {
	color: #fff;
	width: 120px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
}

.container .button {
	cursor: pointer;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 30px;
    font-family: Arial, "Microsoft Yahei", 寰蒋闆呴粦;
    font-size: 14px;
    line-height: 16px;
}

.footer .police {
    width: 14px;
    vertical-align: middle;
}

.show-small {
	display: none;
}

/* 灏忓睆閫傞厤 */

@media (max-width: 750px) {
	.app-form {
		top: 0 !important;
		left: 0 !important;
		margin: 0 !important;
		width: 100% !important;
		height: 100% !important;
		overflow-y: auto !important;
		position: fixed;
		padding: 50px 0 !important;
	}

	.container .download-btn {
		top: 26px !important;
		right: 13px !important;
	}

	.traffic {
		display: none !important;
	}

	.app-form .close-btn {
		top: 15px !important;
		left: 24px !important;
	}

	.app-form .title {
		border-top: 1px solid #eee;
		padding: 16px 24px !important;
	}

	.app-form p {
		width: auto !important;
		padding: 0 24px !important;
		margin: 0 !important;
		text-align: left;
	}

	.app-form ul {
		margin-top: 13px !important;
	}

	.app-form li {
		width: auto !important;
		height: auto !important;
		padding: 0 24px !important;
	}

	.app-form li .label {
		text-align: left;
		width: 100% !important;
		float: none !important;
		margin-top: 5px !important;
	}

	.app-form li .field {
		width: 100% !important;
		float: none !important;
		margin: 0 !important;
	}

	.app-form li .field .input-text {
		width: calc(100% - 20px) !important;
	}

    .app-form li textarea.input-text {
        height: 50px !important;
    }

	.app-form button {
		width: 100% !important;
		margin-bottom: 80px;
	}

	.show-small {
		display: block !important;
	}

	.hide-small {
		display: none !important;
	}
}
